@import 'tailwindcss';
@import './global.scss';

.box {
  @apply bg-white rounded-lg shadow-md;
}

/* 亮色主题 */
body[data-theme='light'] {
  /* 背景色: 最浅 */
  --color-base-100: oklch(100% 0 0);
  /* 次背景色: 如卡片容器背景 */
  --color-base-200: oklch(98% 0 0);
  /* 分割线、禁用状态背景, 创建层次感 */
  --color-base-300: oklch(95% 0 0);
  /* 文字颜色 */
  --color-base-content: oklch(21% 0.006 285.885);
  /* 强调色: 按钮, 链接等元素 */
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  /* 中性色: 非饱和部分的背景、边框、分割线等中性元素 */
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-primary: #6366f1;
  --color-primary-content: #fff;
}

/* 暗色主题 */
body[data-theme='dark'] {
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  /* --color-base-content: oklch(97.807% 0.029 256.847); */
  --color-base-content: #fdd5a6d9;
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-primary: #fa8c16;
  --color-primary-content: #fdd5a6d9;
}

/* 深色主题2 */
body[data-theme='abyss'] {
  --color-base-100: oklch(20% 0.08 209);
  --color-base-200: oklch(15% 0.08 209);
  --color-base-300: oklch(10% 0.08 209);
  --color-base-content: oklch(90% 0.076 70.697);
  --color-accent: oklch(43% 0 0);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(30% 0.08 209);
  --color-neutral-content: oklch(90% 0.076 70.697);
}
